---
---
@import "minima";

$brand-color-light:     lighten($brand-color, 40%) !default;

$border-color-01:       $brand-color-light !default;
$border-color-02:       lighten($brand-color, 35%) !default;

.social-media-list {
    display: table;
    margin: 0 auto;
    li {
      float: left;
      margin: 5px 10px 5px 0;
      &:last-of-type { margin-right: 0 }
      a {
        display: block;
        padding: $spacing-unit / 4;
        &:hover { border-color: $border-color-02 }
      }
    }

    li + li { padding-top: 0px; }
}

.footer-col-wrapper,
.social-links {
    @include relative-font-size(0.9375);
    color: $brand-color;
}